body {
    background: var(--backgroundColor);
    box-sizing: border-box;
    padding: 2em;
    color: var(--textColor);
    font-family: var(--bodyFont);
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--headingFont);
}

p {
    max-width: 80ch;
}

section {
    margin-left: 5em;
    margin-right: 5em;
}

/* for hiding elements that shouldn't appear unless JS loads (search bar, for example) */
.js-deactivated {
    display: none; 
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}

.top-navbar {
    position: sticky;
    top: 0px;
    padding: .8em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--backgroundColor);
    z-index: 3;
}

.top-navbar.stuck {
    box-shadow: 0 .2em .5em rgba(0,0,0,0.2),
                0 .8em 1em rgba(0,0,0,0.08);
}

.top-navbar .navbar-group {
    display: flex;
    align-items: center;
}

.top-navbar .library-search input {
    border: none;
    color: var(--textColor);
    font-family: var(--bodyFont);
    padding-inline-start: .5em;
    background: none;
    border-bottom: solid 1px var(--textColor);
}

.library-grid {
    --gap: 2em;
    --min-card-width: 230px;
    --max-card-width: 1fr;
    margin: 5em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), var(--max-card-width)));
    gap: calc(var(--gap) * 2) var(--gap);
}
 
.book-group {
    position: relative;
    cursor: pointer;
    transition: transform .08s ease-in-out;
}

.book-group.hidden {
    display: none;
}


.book-group:hover,
.book-group:focus-within {
    transform: translateY(-3px);
}

.book-card img {
    display: block;
    max-height: 20rem;
    margin: auto;
}

.book-cover, .book-back {
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    box-shadow: 0 0vmin 0vmin rgba(0,0,0,0.4),
                0 0vmin 0vmin rgba(0,0,0,0.2);
    transition: all .08s ease-in-out, transform .2s ease-in-out, opacity .01s .1s linear;
}

.book-cover {
    width: min-content;
    z-index: 2;
    position: relative;
    margin: auto;
}

.book-cover:hover,
.book-group input:focus ~ .book-card .book-cover {
    box-shadow: 0 .4vmin .6vmin rgba(0,0,0,0.2),
                0 1.3vmin 1.5vmin rgba(0,0,0,0.08);
}

.book-group input:checked ~ .book-card .book-cover {
    transform: rotateY(.5turn);
    opacity: 0;
    z-index: 0;
}

.book-back {
    background: var(--cardColor);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1em;
    overflow-y: auto;
    transform: rotateY(.5turn);
    opacity: 0;
}

.book-back h2 {
    margin-block-start: 0;
    margin-block-end: .5em;
}

.book-group input:checked ~ .book-card .book-back {
    transform: rotateY(1turn);
    opacity: 1;
    box-shadow: 0 .4vmin .8vmin rgba(0,0,0,0.18);
}

@media(max-width: 500px) {
    body {
        padding: 1vmin;
    }

    .library-grid {
        --min-card-width: 40%;
        --gap: 1em;
        margin: 2em 0;
    }

    .book-cover {
        width: 100%;
    }

    .book-cover img {
        height: 100%;
        max-width: 100%;
        align-self: flex-end;
        object-fit: contain;
    }

    .book-back h2 {
        font-size: 1rem;
    }
}

/* Back to Top Button */
button.back-to-top {
    position: fixed;
    bottom: 5vh;
    left: 2vw;
    background: var(--background-color);
    border: none;
    padding: .75em 1em;
    border-radius: .2em;
    box-shadow: 0 0.2vh 0.8vh rgba(0,0,0,0.2), 0 0.7vh 1vh rgba(0,0,0,.08);
    z-index: 3;
}

button.back-to-top:hover {
    background: var(--card-color);
}