---
layout: default.njk
title: Library Home
---
<h1>Library</h1>
<section class='library-grid'>
    {%- for book in libraryData.books -%}
    {%- if book.show == "TRUE" -%}
        {%- include 'book.njk' -%}
    {%- endif -%}
    {%- endfor -%}
</section>
<script src='./js/library.js'></script> 