---
layout: default.njk
title: Library Home
scripts:
  - https://cdn.jsdelivr.net/npm/fuse.js@5.0.10-beta
  - ./js/library.js
---
<nav class='top-navbar'>
    <h1>{{ libraryData.siteData[0].ownerName }}'s Library</h1>
    <div class='navbar-group js-deactivated'>
        <div class='search-group'>
            <p id='result-count'>{{ libraryData.books | selectattr("show") | length }} books</p>
            {%- include 'librarySearch.html' -%}
        </div>
        {% include 'filters.njk' %}
{#         
        <fieldset class='theme-picker'>
            <legend>Themes</legend>    
            {% for theme in libraryData.siteData %}
            <input id='theme-{{ loop.index0 }}' type='radio' name='themes' value='{{ loop.index0 }}' {% if loop.index == 1 %}checked{% endif %}>
            <label for='theme-{{ loop.index0 }}'>Theme {{ loop.index }}</label> 
            {% endfor %}
        </fieldset> #}
    </div>
</nav>
<section>
    <p>I took a photo of every book in my apartment and put it here along with some data and a review for the books I've got something 
    to say about. This site is exciting to me because all the data for it comes from a <a href="https://docs.google.com/spreadsheets/d/1L6pFNR2fB9451zNvaNzXW_tFJ2ko7YqvuD8qmNz0NWk/edit?usp=sharing" target="_blank" rel="noopener">Google Sheet</a>, including the themes, making it 
    really easy to edit. I'd like to explore making a tool that spits out little library sites for people. This one's built using <a href='https://github.com/franknoirot/library-template' target='_blank' rel='noopener'>11ty</a> but could be built using any static site generator.</p>
</section>
<main id='library'>
    <section class='library-grid'>
        {%- for book in libraryData.books | selectattr("show") -%}
            {% set loopIndex = loop.index0 %}
            {%- include 'book.njk' -%}
        {%- endfor -%}
    </section>
    {%- include 'backToTopBtn.njk' -%}
</main>
<script type='text/javascript'>
    Window.libraryBooks = `{{ libraryData.books | selectattr("show") | dump }}`;
    Window.themes = `{{ libraryData.siteData | dump }}`;
</script>