<div class='lib-control filters'>
    <button>Filters</button>
    <select id='filter-param-dropdown'>
    </select>
    is
    <select id='filter-comp-dropdown'>
    </select>
    <input id='filter-val-input' type='text'>
    <button>Add +</button>
</div>