<div class='lib-control filters'>
    <button id='filter-toggle'>Filters</button>
    <div class='filters-inner'>
        <form id='filter-add-form'>
            <select id='filter-param-dropdown'>
            </select>
            <span id='filter-is'>is</span>
            <select id='filter-comp-dropdown'>
            </select>
            <input id='filter-val-input' type='text' placeholder="ex: T, 1980, 4" required>
            <button id='filter-add-btn' type='submit'>Add +</button>
        </form>
        <div id='filter-tags-container' aria-live="polite">
            <strong>Set Filters:</strong>
            <span id='no-filters'>None</span>
        </div>
    </div>
</div>